*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  line-height: 1.5;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #111;
  text-rendering: optimizeLegibility;
  background-color: rgb(146, 145, 153);
}
main {
  width: 60%;
}
section {
  width: 100%;
}

.book-content {
  width: 100%;
  height: 60vh;
  background-color: rgb(216, 215, 221);
  text-align: center;
}
